.CalendarHeader__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.header__title {
  font-size: 3rem;
  font-weight: 700;
  margin: 3.8rem 0 1rem 0;
}

.header__title--span {
  color: var(--orangeColor);
  animation: 3s 1 normal colorIn;
}

.header__subtitle {
  font-size: 1.6rem;
  margin: 0rem 0 3rem 0;
  font-weight: 500;
  color: var(--grayColor);
}

@keyframes colorIn {
  0% {
    color: var(--darkBlueColor);
  }
  33% {
    color: var(--darkBlueColor);
  }
  100% {
    color: var(--orangeColor);
  }
}

@media (min-width: 768px) {
  .header__title {
    font-size: 3.5rem;
    margin: 4rem 0 1rem 0;
  }
  .header__subtitle {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .header__title {
    font-size: 4.5rem;
    margin: 5rem 0 1rem 0;
  }
  .header__subtitle {
    font-size: 1.8rem;
  }
}
