.CalendarForm {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 600px;
}

.CalendarForm__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CalendarForm__header-top {
  text-align: center;
  margin-top: 4rem;
  padding-bottom: 2rem;
}

.CalendarForm__header-arrow {
  animation: 2s infinite normal slidein;
  opacity: 1;
  color: var(--orangeColor);
  position: relative;
}

.CalendarForm__header-arrow::after {
  content: "v";
  position: absolute;
  font-size: 1.1rem;
  top: -90%;
  left: -4%;
  opacity: 0.3;
  z-index: -1;
  border-radius: 50%;
}

@keyframes slidein {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

.CalendarForm__list {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
  color: var(--errorColor);
  margin: 0.5rem 0;
}

.CalendarForm__list-item {
  margin: 0.5rem 0;
}

.CalendarForm__form {
  display: flex;
  flex-direction: column;
}

.CalendarForm__input {
  margin: 0.5rem 0;
  height: 3rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--darkBlueColor);
  color: var(--darkBlueColor);
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

.CalendarForm__input::placeholder {
  font-family: "Open Sans", sans-serif;
  color: var(--darkGreyBlueColor);
}

.CalendarForm__input:focus {
  border-bottom: 1px solid var(--orangeColor);
  outline: none;
  font-weight: 600;
}

.CalendarForm__input--submit {
  -webkit-appearance: none;
  border: none;
  background-color: var(--darkBlueColor);
  color: var(--mainGrayColor);
  font-size: 1.4rem;
  height: 4rem;
  border-radius: 7px;
  margin: 1.5rem 0 2.5rem 0;
  transition: 0.1s linear;
}

.CalendarForm__input--submit:hover {
  cursor: pointer;
  font-weight: 600;
  background-color: var(--orangeColor);
  color: var(--darkBlueColor);
}

@media (min-width: 768px) {
  .CalendarForm__header-top {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .header__title {
    font-size: 4.5rem;
    margin: 5rem 0 1rem 0;
  }
  .CalendarForm__input {
    font-size: 1.55rem;
    margin: 0.6rem 0;
  }
  .CalendarForm__input::placeholder {
    font-size: 1.55rem;
  }
  .CalendarForm__input--submit {
    font-size: 1.4rem;
    height: 4rem;
    border-radius: 7px;
    margin: 1.5rem 0 2.5rem 0;
    transition: 0.1s linear;
  }

  .header__subtitle {
    font-size: 1.8rem;
  }
  .CalendarForm__list {
    font-size: 1.4rem;
    margin: 2rem 0 1rem 0;
  }

  .CalendarForm__list-item {
    margin: 1rem 0;
  }
}
