:root {
  --orangeColor: #ff750b;
  --mainGrayColor: #f9f9f9;
  --lightGrayColor: #d7dbdd;
  --grayColor: #b1b1b1;
  --darkBlueColor: #223944;
  --darkGreyBlueColor: #5d696f;
  --lighterOrange: #fae1cf;
  --errorColor: #cc0000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--mainGrayColor);
  color: var(--darkBlueColor);
  display: flex;
  font-family: "Open Sans", sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  justify-content: center;
  margin: 0;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
